#main-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
#navbar {
  width: 20%;
}
#main-doc {
  width: 80%;
}
@media (min-width: 786px) {
  #main-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
  }
}
